<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.core.mapper.SysMenuMapper">

    <resultMap id="SysMenuResult" type="com.example.demo.core.entity.SysMenu">
        <id property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="code" column="code"/>
        <result property="parentId" column="parent_id"/>
        <result property="createBy" column="create_by"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateBy" column="update_by"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <sql id="selectMenuVo">
        select
            m.menu_id,m.menu_name,m.code,m.parent_id,m.create_by,m.create_time,m.update_by,m.update_time
        from sys_menu m
    </sql>

    <select id="selectMenuList" parameterType="com.example.demo.core.entity.SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        <where>
            <if test="menuName != null and menuName != ''">
                and m.menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="code != null and code != ''">
                and m.code like concat('%', #{code}, '%')
            </if>
        </where>
    </select>

    <select id="selectMenusByUserId" parameterType="Long" resultMap="SysMenuResult">
        select
            m.menu_id,m.menu_name,m.code,m.parent_id,m.create_by,m.create_time,m.update_by,m.update_time
        from sys_menu m
			 left join sys_role_menu rm on m.menu_id = rm.menu_id
			 left join sys_user_role ur on rm.role_id = ur.role_id
	    where ur.user_id = #{userId}
    </select>

    <select id="selectMenuByParams" parameterType="com.example.demo.core.entity.SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        <where>
            <if test="menuId != null">
                and m.menu_id != #{menuId}
            </if>
            <if test="code != null and code != ''">
                and m.code = #{code}
            </if>
        </where>
    </select>

    <insert id="addMenu" parameterType="com.example.demo.core.entity.SysMenu" useGeneratedKeys="true"
            keyProperty="menuId">
        insert into sys_menu(
        <if test="menuName != null and menuName != ''">menu_name,</if>
        <if test="code != null and code != ''">code,</if>
        <if test="parentId != null and parentId != ''">parent_id,</if>
<!--        <if test="status != null and status != ''">status,</if>-->
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="menuName != null and menuName != ''">#{menuName},</if>
        <if test="code != null and code != ''">#{code},</if>
        <if test="parentId != null and parentId != ''">#{parentId},</if>
<!--        <if test="status != null and status != ''">#{status},</if>-->
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateMenu" parameterType="com.example.demo.core.entity.SysMenu">
        update sys_menu
        <set>
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            parent_id = #{parentId},
<!--            <if test="status != null">status = #{status},</if>-->
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where menu_id = #{menuId}
    </update>

    <delete id="deleteMenuById" parameterType="Long">
        delete from sys_menu where menu_id = #{menuId}
    </delete>

</mapper>