<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.core.mapper.SysMenuMapper">

    <resultMap id="SysMenuResult" type="com.example.demo.core.entity.SysMenu">
        <id property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>

    <sql id="selectMenuVo">
        select
            m.menu_id,m.menu_name,m.parent_id,m.create_by,m.create_time,m.update_by,m.update_time
        from sys_menu m
    </sql>

    <select id="selectMenuList" parameterType="com.example.demo.core.entity.SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        <where>
            <if test="menuName != null and menuName != ''">
                and m.menu_name like concat('%', #{menuName}, '%')
            </if>
        </where>
    </select>

</mapper>