<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.core.mapper.SysTokenMapper">

    <resultMap id="SysTokenResult" type="com.example.demo.core.entity.SysToken">
        <id property="userId" column="user_id"></id>
        <result property="token" column="token"></result>
        <result property="expireTime" column="expire_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <sql id="selectTokenVo">
        select
            t.user_id,t.token,t.expire_time,t.update_time
        from sys_token t
    </sql>

    <select id="selectTokenByUserId" parameterType="Long" resultMap="SysTokenResult">
        <include refid="selectTokenVo"/>
        WHERE t.user_id = #{userId}
    </select>

    <select id="selectTokenByToken" parameterType="String" resultMap="SysTokenResult">
        <include refid="selectTokenVo"/>
        WHERE t.token = #{token}
    </select>

    <insert id="insertToken" parameterType="com.example.demo.core.entity.SysToken">
        insert into sys_token(
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="token != null and token != ''">token,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="expireTime != null">expire_time</if>
        )values(
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="token != null and token != ''">#{token},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="expireTime != null">#{expireTime}</if>
        )
        ON DUPLICATE KEY UPDATE
        <if test="userId != null and userId != ''">user_id = #{userId},</if>
        <if test="token != null and token != ''">token = #{token},</if>
        <if test="updateTime != null">update_time = #{updateTime},</if>
        <if test="expireTime != null">expire_time = #{expireTime}</if>
    </insert>

</mapper>