<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.core.mapper.SysUserMapper">

    <resultMap id="SysUserResult" type="com.example.demo.core.entity.SysUser">
        <id property="userId" column="user_id"></id>
        <result property="loginName" column="login_name"></result>
        <result property="password" column="password"></result>
        <collection property="roles" javaType="java.util.List" resultMap="RoleResult"/>
    </resultMap>

    <resultMap id="RoleResult" type="com.example.demo.core.entity.SysRole">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="status" column="role_status"/>
    </resultMap>

    <sql id="selectUserVo">
        select
            u.user_id,u.login_name,u.password,
            r.role_id,r.role_name,r.status as role_status
        from sys_user u
			 left join sys_user_role ur on u.user_id = ur.user_id
			 left join sys_role r on r.role_id = ur.role_id
    </sql>

    <select id="selectUserList" parameterType="com.example.demo.core.entity.SysUser" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        <where>
            <if test="loginName != null and loginName != ''">
                AND u.login_name like concat('%', #{loginName}, '%')
            </if>
        </where>
    </select>

    <select id="selectUserByLoginName" parameterType="String" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        WHERE u.login_name = #{loginName}
    </select>

    <select id="selectUserByUserId" parameterType="Long" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        WHERE u.user_id = #{userId}
    </select>


</mapper>